body{
  color : black;
}

@font-face {
    font-family: 'callunaregular';
    src: url('@assets/Calluna-Regular-webfont.eot');
    src: url('@assets/Calluna-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('@assets/Calluna-Regular-webfont.woff2') format('woff2'),
         url('@assets/Calluna-Regular-webfont.woff') format('woff'),
         url('@assets/Calluna-Regular-webfont.ttf') format('truetype'),
         url('@assets/Calluna-Regular-webfont.svg#callunaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cabinbold_italic';
    src: url('@assets/cabin-bolditalic-webfont.eot');
    src: url('@assets/cabin-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('@assets/cabin-bolditalic-webfont.woff2') format('woff2'),
         url('@assets/cabin-bolditalic-webfont.woff') format('woff'),
         url('@assets/cabin-bolditalic-webfont.ttf') format('truetype'),
         url('@assets/cabin-bolditalic-webfont.svg#cabinbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;

}


@font-face {
    font-family: 'cabinbold';
    src: url('@assets/cabin-bold-webfont.eot');
    src: url('@assets/cabin-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('@assets/cabin-bold-webfont.woff2') format('woff2'),
         url('@assets/cabin-bold-webfont.woff') format('woff'),
         url('@assets/cabin-bold-webfont.ttf') format('truetype'),
         url('@assets/cabin-bold-webfont.svg#cabinbold') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'cabinsemibold_italic';
    src: url('@assets/cabin-semibolditalic-webfont.eot');
    src: url('@assets/cabin-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('@assets/cabin-semibolditalic-webfont.woff2') format('woff2'),
         url('@assets/cabin-semibolditalic-webfont.woff') format('woff'),
         url('@assets/cabin-semibolditalic-webfont.ttf') format('truetype'),
         url('@assets/cabin-semibolditalic-webfont.svg#cabinsemibold_italic') format('svg');
    font-weight: 600;
    font-style: italic;

}




@font-face {
    font-family: 'cabinsemibold';
    src: url('@assets/cabin-semibold-webfont.eot');
    src: url('@assets/cabin-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('@assets/cabin-semibold-webfont.woff2') format('woff2'),
         url('@assets/cabin-semibold-webfont.woff') format('woff'),
         url('@assets/cabin-semibold-webfont.ttf') format('truetype'),
         url('@assets/cabin-semibold-webfont.svg#cabinsemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'cabinmedium_italic';
    src: url('@assets/cabin-mediumitalic-webfont.eot');
    src: url('@assets/cabin-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('@assets/cabin-mediumitalic-webfont.woff2') format('woff2'),
         url('@assets/cabin-mediumitalic-webfont.woff') format('woff'),
         url('@assets/cabin-mediumitalic-webfont.ttf') format('truetype'),
         url('@assets/cabin-mediumitalic-webfont.svg#cabinmedium_italic') format('svg');
    font-weight: 500;
    font-style: italic;

}




@font-face {
    font-family: 'cabinmedium';
    src: url('@assets/cabin-medium-webfont.eot');
    src: url('@assets/cabin-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('@assets/cabin-medium-webfont.woff2') format('woff2'),
         url('@assets/cabin-medium-webfont.woff') format('woff'),
         url('@assets/cabin-medium-webfont.ttf') format('truetype'),
         url('@assets/cabin-medium-webfont.svg#cabinmedium') format('svg');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'Cabin';
    src: url('@assets/cabin-italic-webfont.eot');
    src: url('@assets/cabin-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('@assets/cabin-italic-webfont.woff2') format('woff2'),
         url('@assets/cabin-italic-webfont.woff') format('woff'),
         url('@assets/cabin-italic-webfont.ttf') format('truetype'),
         url('@assets/cabin-italic-webfont.svg#cabinitalic') format('svg');
    font-weight: 400;
    font-style: italic;

}




@font-face {
    font-family: 'Cabin';
    src: url('@assets/cabin-regular-webfont.eot');
    src: url('@assets/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('@assets/cabin-regular-webfont.woff2') format('woff2'),
         url('@assets/cabin-regular-webfont.woff') format('woff'),
         url('@assets/cabin-regular-webfont.ttf') format('truetype'),
         url('@assets/cabin-regular-webfont.svg#cabinregular') format('svg');
    font-weight: 400;
    font-style: normal;

}
