q
{
  /*quotes : '\00AB\2003' '\2003\00BB' '\2039 ' ' \203A';*/
  quotes : '«' ' »' '\2039 ' ' \203A';
}

.modulo-contents-inline-quoted::before{
  content : '\00AB ';
}

.modulo-contents-inline-quoted::after{
  content : ' \00BB';
}
