.modulo-contents-note-content
{
    display: prince-footnote;

    counter-increment: footnote;
}

.modulo-contents-print-placeholder
{
    page-break-after: always;
    page: placeholder;
}

figure {
  border : 1px solid lightgrey;
  padding : 0.5cm;
}

img
{
    width: 9999em;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    border : 1px solid lightgrey;
}

@page
{
    @bottom
    {
        content: counter(page);
    }
}
