/*.peritext-contents-note-content
{
    display: prince-footnote;
    counter-increment: footnote;
}*/

.peritext-contents-print-placeholder
{
    page-break-after: always;
    page: placeholder;
}

img
{
    width: 9999em;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.peritext-contents-figure
{
    padding: .5cm;

    border: 1px solid lightgrey;

    page-break-inside: avoid;
}

.peritext-contents-figures-wrapper
{
    display: -webkit-box;
    display:    -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
    flex-direction: row;

    width: 100%;
    width: 100%;

    -webkit-box-orient: horizontal;
       -moz-box-orient: horizontal;
            box-orient: horizontal;
    -webkit-box-pack: center;
       -moz-box-pack: center;
            box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
            box-align: center;
    align-items: center;
}

.peritext-contents-figures-wrapper figure
{
    display: flex;

    box-sizing: content-box;
    padding: 0 0 .5cm 0;
    padding: 10px;

    text-align: center;

    border: none;

    -webkit-box-flex: 1;
       -moz-box-flex: 1;
            box-flex: 1;
    -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
    align-items: center;
}

.peritext-contents-figures-wrapper img
{
    width: auto;
}

@page
{
    @bottom
    {
        content: counter(page);
    }
}

#table-of-contents,
#table-of-figures
{
    page-break-before: always;
    page-break-after: always;
}

#table-of-contents a::after
{
    content: leader('.') target-counter(attr(href), page);
}

#table-of-figures a::after
{
    content: leader('.') target-counter(attr(href), page);
}

#table-of-figures
{
    page-break-after: always;
}

.peritext-contents-notes-section-end,
.peritext-contents-notes-document-end,
.peritext-contents-reference-list-container
{
  page-break-before: always;
  page-break-after: always;
}

